.background {
    background: url("img/accueil.png") no-repeat;
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(9, 160px);
    gap: 0 0;
}

body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.nav-barre {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    background-color: #312827;
    height: 7%;
}

nav a {
    align-self: center;
    text-decoration: none;
    color: white;
    padding-left: 5%; /* padding : Top, right, bottom, left */
}

a.nav-barre-ele1 { /* Forcer le logo a être centré */
    text-align: center;
}

a:hover{
    color: gray;
}

em {
    font-style: italic;
}

em:hover {
    text-decoration: underline;
}

main a {
    text-decoration: none;
    color: white;
}

/* Gestion de la grille */

.haut_titre {
    grid-area: 4 / 2 / 4 / 5; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: white;
}

.haut_sous-titre {
    grid-area: 4 / 2 / 4 / 5;
    margin-top: 70px;
}

h1 {
    margin: 0;
}

.milieu_titre {
    grid-area: 6 / 2 / 6 / 4;
    font-size: x-large;
    color: white;
}

.milieu_sous-titre {
    margin-top: 10%;
    grid-area: 6 / 2 / 8 / 9;
    font-size: large;
    color: white;
    text-align: justify;
}

strong {
    font-weight: bold;
    color: #FFCFA9;
}

/* tableau */
table {
    grid-area: 8 / 2 / 8 / 9;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 10px;
    color: white;
}

th a {
    text-decoration: underline;
}

/* Footer */

p.footer {
    color: white;
    text-align: center;
}

a.footer {
    color: white;
    text-decoration: none;
}

/* animation */

@keyframes slideIn {
    from {
        transform: translateY(-50px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}


.element{
    opacity:1;
    transform: translateY(0px);
    animation: slideIn 1s;
}

@media only screen and (max-width: 640px) {/* Tailles écrans Smartphones */

    .background {
        background: url("img/smartphones.png") no-repeat;
        background-size: cover;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(7, 50px);
        grid-template-rows: repeat(9, 160px);
        gap: 0 0;
    }

    .nav-barre-ele1, .nav-barre-ele2, .nav-barre-ele3 {
        text-align: center;
        gap: 5px;
    }

    /* Gestion de la grille */

    .haut_titre {
        grid-area: 3 / 2 / 4 / 5; /* row start/ column start / row end / column end */
        font-size: x-large;
        color: white;
    }

    .haut_sous-titre {
        grid-area: 3 / 2 / 4 / 5;
        font-size: smaller;
        margin-top: 130px;
    }

    .milieu_titre {
        grid-area: 6 / 2 / 6 / 5; /* row start/ column start / row end / column end */
        margin-top: 10%;
        font-size: small;
        color: white;
    }

    .milieu_sous-titre {
        margin-top: 50%;
        grid-area: 6 / 2 / 8 / 7;
        font-size: smaller;
        color: white;
        text-align: justify;
    }

    .tab {
        display: none; /* Le tableau n'est pas pratique d'utilisation ! */
    }

    p.footer {
        color: white;
        text-align: center;
    }

    a.footer {
        color: white;
        text-decoration: none;
    }

}

@media screen and (min-width: 640px) and (max-width: 1024px) { /* Taille tablettes et petits écrans */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 160px);
        grid-template-rows: repeat(12, 160px);
        gap: 0 0;
    }

    .haut_titre {
        grid-area: 3 / 2 / 4 / 4; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: white;
    }

    .haut_sous-titre {
        grid-area: 3 / 2 / 4 / 3;
        font-size: smaller;
        margin-top: 130px;
    }

    .milieu_titre {
        grid-area: 7 / 2 / 7 / 5; /* row start/ column start / row end / column end */
        margin-top: 10%;
        font-size: x-large;
        color: white;
    }

    .milieu_sous-titre {
        margin-top: 60%;
        grid-area: 6 / 2 / 8 / 5;
        font-size: large;
        color: white;
        text-align: justify;
    }

    .tab {
        display: none; /* Le tableau n'est pas pratique d'utilisation ! */
    }

    p.footer {
        color: white;
        text-align: center;
        font-size: smaller;
    }

    a.footer {
        color: white;
        text-decoration: none;
    }

}

@media screen and (min-width: 1025px) and (max-width: 1300px) {/* Taille pour les écrans 125% */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(8, 130px);
        grid-template-rows: repeat(12, 160px);
        gap: 0 0;
    }

    .haut_titre {
        grid-area: 3 / 2 / 4 / 4; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: white;
    }

    .haut_sous-titre {
        grid-area: 3 / 2 / 4 / 3;
        font-size: smaller;
        margin-top: 130px;
    }

    .milieu_titre {
        grid-area: 7 / 2 / 7 / 5; /* row start/ column start / row end / column end */
        margin-top: 10%;
        font-size: x-large;
        color: white;
    }

    .milieu_sous-titre {
        margin-top: 60%;
        grid-area: 6 / 2 / 8 / 8;
        font-size: large;
        color: white;
        text-align: justify;
    }

    .tab {
        display: none; /* Le tableau n'est pas pratique d'utilisation ! */
    }

    p.footer {
        color: white;
        text-align: center;
        font-size: smaller;
    }

    a.footer {
        color: white;
        text-decoration: none;
    }

}

@media screen and (min-height: 780px) and (max-height: 1300px) {/* Taille pour les écrans qui ont une grande hauteur */
    @media screen and (min-width: 1300px) and (max-width: 3000px) {
        .grid-container {
            display: grid;
            grid-template-columns: repeat(10, 160px);
            grid-template-rows: repeat(12, 160px);
            gap: 0 0;
        }

        /* Gestion de la grille */
        .haut_titre {
            grid-area: 4 / 2 / 4 / 5; /* row start/ column start / row end / column end */
            font-size: xx-large;
            color: white;
        }

        .haut_sous-titre {
            grid-area: 4 / 2 / 4 / 5;
            margin-top: 70px;
        }

        h1 {
            margin: 0;
        }

        .milieu_titre {
            grid-area: 8 / 2 / 9 / 4;
            font-size: x-large;
            color: white;
        }

        .milieu_sous-titre {
            margin-top: 10%;
            grid-area: 8 / 2 / 10 / 9;
            font-size: large;
            color: white;
            text-align: justify;
        }

        strong {
            font-weight: bold;
            color: #FFCFA9;
        }

        /* tableau */
        table {
            grid-area: 10 / 2 / 11 / 9;
            border-collapse: collapse;
        }
    }
}