.background {
    background: url("/img/test.png");
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(5, 160px);
    gap: 0 0;
}

body {
    margin: 0;
    /*overflow-y: hidden;*/
    background-color: #EECFA1;
    font-family: 'Lato', sans-serif;
}

.nav-barre {
    position: absolute;
    display: flex;
    top: 0;
    background-color: #312827;
    height: 7%;
    width: 100%;
}

nav a {
    align-self: center;
    text-decoration: none;
    color: white;
    padding-left: 5%; /* padding : Top, right, bottom, left */
}

a:hover{
    color: gray;
}

em:hover {
    text-decoration: underline;
}

.question {
    grid-area: 2 / 2 / 2 / 9; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: white;
}

.erreur {
    grid-area: 2 / 2 / 2 / 9; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: #FFCFA9;
}

.resultat {
    grid-area: 2 / 2 / 2 / 9; /* row start/ column start / row end / column end */
    color: white;
}

.rest {
    grid-area: 4 / 2 / 4 / 9; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: white;
}

.titre {
    font-size: xx-large;
}

.description {
    font-size: large;
    text-align: justify;
}

.text {
    font-size: large;
}


/* LES 2 boutons */

form {
    display: inline;
}

.myButton {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FFFFFF;
    width: 500px;
    font-size: large;
    font-weight: 100;
    padding: 40px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.myButton:hover {

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}

.rouge {
    background-color: #ffcfa9;
    border: solid #fac9a2 1px;
}

.vert {
    background-color: #fc9a76;
    border: solid #f58257 1px;
}

.rouge:hover {
    background-color: #ef8a39;
    border: solid #f87b18 1px;
}

.vert:hover {
    background-color: #fc7b4b;
    border: solid #ff5d20 1px;
}

/* Footer */

p.footer {
    color: white;
    text-align: center;
    margin: 0;
}

a.footer {
    color: white;
    text-decoration: none;
}

