.background {
    background: url("/img/test.png");
    background-size: cover;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 160px);
    grid-template-rows: repeat(6, 160px);
    gap: 0 0;
}

body {
    margin: 0;
    /*overflow-y: hidden;*/
    background-color: #EECFA1;
    font-family: 'Lato', sans-serif;
}

.nav-barre {
    position: absolute;
    display: flex;
    width: 100%;
    top: 0;
    background-color: #312827;
    height: 7%;
}

nav a {
    align-self: center;
    text-decoration: none;
    color: white;
    padding-left: 5%; /* padding : Top, right, bottom, left */
}

a:hover{
    color: gray;
}

a.nav-barre-ele1 { /* Forcer le logo a être centré */
    text-align: center;
}

em {
    font-style: italic;
}

em:hover {
    text-decoration: underline;
}

.question {
    grid-area: 2 / 2 / 2 / 9; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: white;
}

.erreur {
    grid-area: 2 / 2 / 2 / 9; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: #FFCFA9;
}

.resultat {
    grid-area: 2 / 2 / 2 / 9; /* row start/ column start / row end / column end */
    color: white;
}

.rest {
    grid-area: 4 / 2 / 4 / 9; /* row start/ column start / row end / column end */
    font-size: xx-large;
    color: white;
}

.titre {
    font-size: xx-large;
}

.description {
    font-size: large;
    text-align: justify;
}

.text {
    font-size: large;
}


/* LES 2 boutons */

form {
    display: inline;
}

.myButton {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    color: #FFFFFF;
    width: 500px;
    font-size: large;
    font-weight: 100;
    padding: 40px;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

.myButton:hover {

    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    text-decoration: none;
}

.rouge {
    background-color: #f5974f;
    border: solid #fc8c35 1px;
}

.vert {
    background-color: #fc9a76;
    border: solid #f58257 1px;
}

.rouge:hover {
    background-color: #ee7e24;
    border: solid #ef7310 1px;
}

.vert:hover {
    background-color: #fc7b4b;
    border: solid #ff5d20 1px;
}

/* Footer */

p.footer {
    color: white;
    text-align: center;
    margin: 0;
}

a.footer {
    color: white;
    text-decoration: none;
}
@media only screen and (max-width: 640px) {/* Tailles écrans Smartphones */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(7, 50px);
        grid-template-rows: repeat(5, 160px);
        gap: 0 0;
    }

    .myButton {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #FFFFFF;
        width: 230px;
        font-size: large;
        font-weight: 100;
        padding: 30px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
    }

    input.myButton.rouge, input.myButton.vert {
        font-size: x-small;
        font-weight: bold;
    }

    .question {
        grid-area: 2 / 2 / 2 / 7; /* row start/ column start / row end / column end */
        font-size: large;
        color: white;
        margin-top: -75px;
    }

    .erreur {
        grid-area: 2 / 2 / 2 / 5; /* row start/ column start / row end / column end */
        font-size: large;
        color: #FFCFA9;
    }

    .resultat {
        grid-area: 2 / 2 / 2 / 6; /* row start/ column start / row end / column end */
        color: white;
    }

    .rest {
        grid-area: 4 / 2 / 4 / 5; /* row start/ column start / row end / column end */
        font-size: large;
        color: white;
    }

    .titre {
        font-size: large;
        margin-top: -75px;
    }

    .description {
        font-size: smaller;
        text-align: justify;
    }

    .text {
        font-size: smaller;
    }

    p.footer {
        font-size: smaller;
    }

    a.footer {
        color: white;
        text-decoration: none;
    }
}
@media screen and (min-width: 640px) and (max-width: 1024px) { /* Taille tablettes et petits écrans */

    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 160px);
        grid-template-rows: repeat(5, 160px);
        gap: 0 0;
    }

    .titre {
        font-size: large;
        margin-top: -75px;
    }

    .question {
        grid-area: 2 / 2 / 2 / 5; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: white;
    }

    .erreur {
        grid-area: 2 / 2 / 2 / 6; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: #FFCFA9;
    }

    .resultat {
        grid-area: 2 / 2 / 2 / 6; /* row start/ column start / row end / column end */
        color: white;
    }

    .rest {
        grid-area: 4 / 2 / 4 / 6; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: white;
    }

    .myButton {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #FFFFFF;
        width: 350px;
        font-size: large;
        font-weight: 100;
        padding: 40px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
    }

    p.footer {
        color: white;
        text-align: center;
    }

    a.footer {
        color: white;
        text-decoration: none;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1300px) {/* Taille pour les écrans 125% */
    .grid-container {
        display: grid;
        grid-template-columns: repeat(6, 160px);
        grid-template-rows: repeat(8, 160px);
        gap: 0 0;
    }

    .titre {
        font-size: large;
        margin-top: -75px;
    }

    .question {
        grid-area: 2 / 2 / 2 / 5; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: white;
    }

    .erreur {
        grid-area: 2 / 2 / 2 / 6; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: #FFCFA9;
    }

    .resultat {
        grid-area: 2 / 2 / 2 / 6; /* row start/ column start / row end / column end */
        color: white;
    }

    .rest {
        grid-area: 4 / 2 / 4 / 6; /* row start/ column start / row end / column end */
        font-size: xx-large;
        color: white;
    }

    .myButton {
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        color: #FFFFFF;
        width: 350px;
        font-size: large;
        font-weight: 100;
        padding: 40px;
        text-decoration: none;
        cursor: pointer;
        text-align: center;
    }

    p.footer {
        color: white;
        text-align: center;
    }

    a.footer {
        color: white;
        text-decoration: none;
    }
}